body{
    background-color: #131011;
    font-family: 'Times New Roman', Times, serif !important;
}
.nadpis{
    font-size: 4em;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.bi-instagram{
    margin: 5px;
}
h1{
    color: black;
}
img{
    width: 25em;
    height: 30em;
}
.uvodny_text{
    font-size: 1.3em !important;
}
@media only screen and (max-width: 600px) {
    .splide__slide img {
        width : 15em;
        height: 20em;
    }
    h5{
        color: green !important;
    }
    .nadpis{
        font-size: 2em;
    }
    .bi-instagram{
        width: 40px;
        height: 40px;
    }
    ul{
        margin-top: 5% !important;
    }
    .splide__arrow{
        width: 2rem !important;
        height: 2rem !important;
    }
    .uvodny_text{
        font-size: 1em !important;
    }
  }


#nadpis{
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Parisienne', cursive; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 6rem !important;
    /* color: black !important;             */
}
h3{
    font-family: 'Times New Roman', Times, serif !important;
}
#instagram{
    display: flex;
    float: right;
}
svg{
 color: black;                          /* */
    
}
header{
    text-align: center;
}

svg:hover{
    color: rgb(50, 214, 243) !important;
}

  .cierna{
      color: black;
  }
  .splide__pagination{
    top:100%;
  }
  .splide__arrow{
      width: 4rem;
      height: 4rem;
  }
 