body{
     background-color: #181818; 
    /* background-image: url(../images/wallpaper.jpeg); */
    opacity: 1;
    font-family: 'Times New Roman', Times, serif !important;

}
.formDiv{
    margin-top: 60px;
    border-radius: 25px;
    /* background-color: black; */
    /* color: white; */
}
input{
    background-color: #ffffffd2 !important; 
    color: black !important;
}

#button{
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.tovar{
    width: 65%;
    height: 65%;
    /* float: inline-end; */
}
.tovar2{
    width: 55%;
    height: 55%;
    /* float: inline-end; */
}


.img-checkbox{
    display: block;
}
/* img{
    width: 200px !important;
    height: 200px !important;
} */

.flex1{
    display: flex;
    justify-content: center;
}
.flex2{
    display: flex;
    justify-content: center;

} 
.flex3{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .formDiv {
      margin-top: 0;
    }
    .ilustracia{
        width: 80%;
        height: 80%;
    }
    .vyberMargaretok{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0 !important;
    }
    .vyberOvocia{
    margin-left: 0 !important;
    display: grid !important;
    grid-auto-flow: row !important;
    grid-template-columns: 30% 30% !important;
    padding: 10px;
    }
    
  }

  @media only screen and (min-width: 800px) {
    
    .ilustracia{
        width: 80% !important;
        height: 80% !important;
    }
    .tovar:hover, .tovar2:hover{   
        /* transform: scale(1.5); */
    }
    .margaretky{
        font-size: 2em !important;
    }
    
  }
.adresa{
    display: flex;
}
.ownDesign{
    display: none;
}
#pozlatka{
    display: flex;
    align-items: center;
    justify-content: center;
}

#margarety{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vyberMargaretok{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30%;
}
.vyberOvocia{
    margin-left: 40%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100px 100px;
    padding: 10px;
}
.relative{
    position: relative;
}
.absolute{  
    margin-left: 40%;
    display: grid;
    position: absolute;
    top: 10%;
    grid-auto-flow: row;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    padding: 10px;
    
    

}
#ovocie{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pigment{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vyberPigmentov{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.ilustracia{
    width: 80%;
    height: 80%;
}
.kvet{
    margin-left: 10% !important;
}
#textKlucenka{
    display: none;
}
#upozornenieText{
    display: none;
}

@media only screen and (max-width: 750px) {
    .tovar2 {
        width: 80%;
        height: 80%;
    }
  }

  /* toggle in label designing */
  .toggle {
    position : relative ;
    display : inline-block;
    width : 75px;
    height : 40px;
    background-color: #181818;
    border-radius: 30px;
    border: 2px solid gray;
}
        
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 37.5px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
    top: 0; 
    left: 0;
    transition:  all 0.5s;
}
        
/* Toggle text */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
        
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 37px; 
}
        
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: rgb(0, 240, 240);
}
        
/* Checkbox vanished */
.checkbox { 
    display : none;
}